<?xml version="1.0" encoding="utf-8"?>
<plugin version="php">
<id>LemonTemplate</id>
<name>模板插件 - lemon</name>
<url>https://github.com/ossso/LemonTemplate</url>
<note>Lemon系列插件 - 让每一个应用都可以写模板</note>
<description></description>
<path>main.php</path>
<include>include.php</include>
<level>1</level>
<author>
  <name>橙色阳光</name>
  <email>1122@hizhou.cn</email>
  <url>https://www.inull.cn/</url>
</author>
<source>
  <name></name>
  <email></email>
  <url></url>
</source>
<adapted>151935</adapted>
<version>1.1</version>
<pubdate>2019-11-30</pubdate>
<modified>2020-03-22</modified>
<price>0</price>
<phpver>5.5</phpver>
<advanced>
  <dependency></dependency>
  <rewritefunctions></rewritefunctions>
  <existsfunctions></existsfunctions>
  <conflict></conflict>
</advanced>
<sidebars>
  <sidebar1></sidebar1>
  <sidebar2></sidebar2>
  <sidebar3></sidebar3>
  <sidebar4></sidebar4>
  <sidebar5></sidebar5>
</sidebars>
</plugin>